* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
/* header sec */
body {
  background-color: #f0e2c5;
  color: #49281a;
  padding: 50px;
}

header {
  /*border: 2px solid black;*/
  text-align: center;
  padding: 30px;
}

header h1 {
  font-family: "Playfair Display SC", serif;
  font-size: 3rem;
  margin-bottom: 30px;
}

header p {
  font-family: "Lato", sans-serif;
  font-size: 1.3rem;
  margin-bottom: 30px;
}

header a {
  width: 180px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  background-color: #49281a;
  color: #f0e2c5;
  text-decoration: none;
  margin: 10px auto;
  border-radius: 5px;
}

/* nav sec */

nav {
  /*border: 2px solid black;*/
  text-align: center;
  padding: 15px;
  background-color: #49281a;
}

nav a {
  display: inline-block;
  text-decoration: none;
  color: #f0e2c5;
  margin: 0 15px;
}

/* our- menu sec */

#our-menu,
#about-us,
#contact-us,
footer {
  width: 80%;
  margin: 20px auto;
}

#our-menu h2,
#about-us h2,
#contact-us h2 {
  font-family: "Playfair Display SC", serif;
  font-size: 2em;
  padding: 10px 0;
}

.menu-list h3 {
  margin: 20px 0;
  padding: 2px 10px;
  border-left: 4px groove #49281a;
}

.card {
  border: 2px solid black;
  width: 230px;
  padding: 10px;
  text-align: center;
  font-family: "Lato", sans-serif;
  margin: 0 10px;
  display: inline-block;
  border-radius: 10px;
}

.card-image-top {
  max-width: 100%;
  width: 400px;
  height: 250px;
  border-radius: 10px;
}

.card-title {
  margin: 10px 0;
}
.card-text {
  line-height: 1.3rem;
}
.price {
  font-weight: bold;
  font-style: italic;
}
.btn-order {
  border: none;
  width: 100%;
  background-color: #49281a;
  padding: 10px;
  color: #f0e2c5;
  border-radius: 5px;
  margin: 10px 0;
}

/* about-us sec */

#about-us p,
contact-us p,
footer p {
  font-family: "Lato", sans-serif;
  line-height: 1.5rem;
  text-align: justify;
  padding: 10px 0;
}

/* contact-us sec */

form {
  font-family: "Lato", sans-serif;
  /*border: 2px solid black;*/
  margin-top: 10px;
}

form div {
  margin-bottom: 10px;
}

.form-label {
  text-align: right;
  display: inline-block;
  padding: 10px;
  width: 150px;
}

.form-control {
  border: none;
  width: 300px;
  border-bottom: 2px solid #49281a;
  background-color: #f0e2c5;
  outline: none;
}

.btnSumbit {
  border: none;
  width: 250px;
  height: 40px;
  background-color: #49281a;
  color: #f0e2c5;
  margin-bottom: 20px;
  margin-top: 10px;
  margin-left: 160px;
  border-radius: 8px;
  cursor: pointer;
}

footer p {
  text-align: center;
  font-size: 0.9rem;
}
